body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: calc(100% + 90px) calc(100% + 50px);;
    background-size: 75vh;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #DE9400;
}

h1 {
    font-weight: 800;
    font-size: 6vw;
    color: black;
 @media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }
}

h2 {
    font-weight: 800;
    font-size: 3rem;
    color: black;
}

#all {
    padding: 0px;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    height: 100vh;
    padding: 0;
    width: 80px;
    display: block;
    align-items: center;
}

.navbar-toggler-icon {
    border: none;
}

.navbar-nav {
    background: #EFAD07;
    height: 100vh;

}

.navIcon {
    width: 115%;
}

.nav-item {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.nav-item:hover {
    background-color: #DE9400;
  }

 .modal-content {
      background-color: rgba(255, 232, 163, .9);
      border: none;
      height: 50%;
  }

/*
.form-container {
    height: 50vh;
    width: 50vw;
    display: grid;
    place-items: center;
}
*/

.loginform {
    background-color: rgba(239, 173, 7, .4);
    border: none;
    font-weight: 800;
    color:#DE9400;
    height: 50px;
    border-radius: 12px;
}


.btn { 
    background-color: rgba(255, 255, 255, 0.4);
    border: border: solid 2px #fae29f;
    width: 150px;
    height: 50px;
    font-weight: 800;
    color: #DE9400;
    border-radius: 12px;
}

.btn-start {
    width: 15vw;
    height: 55px;
    
}

.btn2 {
    background-color: transparent;
    border: solid 2px white;
    width: 150px;
    height: 50px;
    font-weight: 800;
    color:#DE9400;
    border-radius: 12px;
}