body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 800;
    font-size: 5vw;
    color: black;
}

.form-control {
    font-weight: 800;
}


option {
    font-weight: 800;
    font-size: 2vw;
}

/*
#navi {
    height: 100vh;
    padding: 0;
    background: #EFAD07;
}
*/

.navbar {
    height: 100vh;
    padding: 0;
    width: 80px;
    background: #EFAD07;
    display: block;
    align-items: center;
}

.nav-item {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.nav-item:hover {
    background-color: #DE9400;
  }

#main {
    height: 100vh;
    display: grid;
    place-items: center;
}
